{% load sass_tags %}
<link rel="stylesheet" href="{% sass_src 'base/css/navbar.scss' %}">

<section id="title-main">
    <div class="container-fluid">
        <!--COMPANY LOGO AND PHONE NO.-->
        <div></div>
        <!--NAVBAR-->

        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="/"><img src="../../assets/echio-removebg-preview.png" alt="logo"></a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto" style="display: flex;align-items: center;">
                    <li class="nav-item">
                        <a class="nav-link" href="/"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campaigns/create"> Create Campaign </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campaigns"> View Campaigns </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item" style="display: flex;align-items: center;">
                            <p class="nav-link mt-lg-3"> {{ user.username }} </p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"> Logout </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register"> Register </a>
                        </li>
                    {% endif %}
            </div>
        </nav>
    </div>
</section>
