{% extends 'base.html' %}

{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Open+Sans&display=swap');
</style>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
            <div class="row justify-content-center align-items-center " style="height: 80vh;">
              <div class="col-xl-5 col-md-8">
                <form class="bg-white rounded-3 shadow-5-strong p-5" style="border: 1px solid rgba(0, 0, 0, 0.244);" method="post">
                    {% csrf_token %}
                  <!-- Email input -->                  
<h2 class="text-uppercase text-center mb-5" style="color: #05BFDB; font-family: 'Gruppo', cursive; font-weight: 900;">LOGIN HERE</h2>
                  <div class="form-outline mb-4">
                      {{ form.username }}
                      {{ form.username.errors }}
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                      {{ form.password }}
                  </div>

                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <p>Don't have an account? <a href="{% url 'user-register' %}">Register</a></p>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary col-sm-12 btn-block">Sign in</button>
                </form>
              </div>
            </div>

{% endblock %}

