{% extends 'base.html' %}

{% block content %}
    <h1> Campaigns Page </h1>

    View the campaigns you have created here.
    Client can select a campaign and that will open its details page. (different from landing page)

    {% for campaign in campaigns %}
        <div class="card" style="width:18rem;">
            <div class="card-body">
                <div class="card-title">
                    <p> {{ campaign.name }} </p>
                </div>
                <a href="{% url 'campaign-details' campaign.id %}" class="btn btn-primary"> View Campaign </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
