{% extends 'base.html' %}

{% block content %}
    <h1> Campaign Details </h1>

    Client can view the details for the campaign and also edit them.

    <a href="{% url 'campaigns' %}"> Back to Campaigns </a>

    <p> Campaign Name: {{ campaign.name }} </p>
    <p> Campaign Description: {{ campaign.description }} </p>

    Campaign Primary Objective: {{ campaign.primary_objective }}
    Campaign Brand: {{ campaign.brand }}
    Campaign Payment Type: {{ campaign.payment_type }}
    Campaign Budget: {{ campaign.budget }}
    Campaign Payment Delay Days: {{ campaign.payement_delay_days }}
    Campaign Tentative Payout: {{ campaign.tentative_payout }}



{% endblock %}
