{% extends 'base.html' %}

{% load static %}

  
{% block title %}
    Campaign Overview
{% endblock %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Open+Sans&display=swap');
  </style>

    <div class="buttons d-flex" style="margin-right: 20px; justify-content: space-around; margin-top: 20px; margin-bottom: 20px;">
        <a href="{% url 'campaign-details-view' campaign.id %}" class="btn btn-primary" >Campaign details </a>
    
        <a href="{% url 'campaign-influencers-view' campaign.id %}" class="btn btn-primary"> View influencers</a>

        <a href="{% url 'campaign-influencers-explore' campaign.id %}" class="btn btn-primary"> Explore more influencers </a>
    </div>
{% endblock %}
