{% extends 'base.html' %}

{% load sass_tags %}

{% block title %}
    Create Campaign
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% sass_src 'campaign/css/create-campaign.scss' %}">
{% endblock %}

{% block content %}

    <a href="{% url 'campaigns' %}">Back to Campaign List</a>

    <form method="post">

        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Campaign Name:
                {{ form.name }}
                {{ form.name.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Campaign Description:
                {{ form.description }}
                {{ form.description.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Primary Objective
                {{ form.primary_objective }}
                {{ form.primary_objective.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Brand
                {{ form.brand }}
                {{ form.brand.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Payment type
                {{ form.payment_type }}
                {{ form.payment_type.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Budget
                {{ form.budget }}
                {{ form.budget.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Payment Delay (Days)
                {{ form.payment_delay_days }}
                {{ form.payment_delay_days.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Tentative Payout
                {{ form.tentative_payout }}
                {{ form.tentative_payout.errors }}
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Submit
                <input type="submit" value="Create Campaign">
            </label>
        </div>

    </form>

{% endblock %}
