{% extends 'base.html' %} {% load sass_tags %} {% block title %} Create Campaign
{% endblock %} {% block css %}
<link
  rel="stylesheet"
  href="{% sass_src 'campaign/css/create-campaign.scss' %}"
/>
{% endblock %} {% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Open+Sans&display=swap');
</style>


<a href="{% url 'campaigns' %}" style="color: black; margin-left: 2rem"
  >&lt; Go Back</a>

<section class="mb-5 mt-5">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-8">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5" style="color: #05BFDB; font-family: 'Gruppo', cursive; font-weight: 900;">Create Campaign</h2>

              <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                  <label class="form-label col-md-12 col-sm-12"
                    >Campaign Name:
                    <div class="mt-2">{{ form.name }}</div>
                    {% if form.name.errors %}
                    <div class="text-warning">{{ form.name.errors }}</div>
                    {% endif %}
                  </label>
                </div>

                <div class="mb-3">
                  <label class="form-label col-md-12 col-sm-12"
                    >Campaign Description:
                    <div class="mt-2">{{ form.description }}</div>
                    {% if form.description.errors %}
                    <div class="text-warning">
                      {{ form.description.errors }}
                    </div>
                    {% endif %}
                  </label>
                </div>

                <div class="mb-3">
                  <label class="form-label col-md-12 col-sm-12">
                    Brand
                    <div class="mt-2">{{ form.brand }}</div>
                    {% if form.brand.errors %}
                    <div class="text-warning">{{ form.brand.errors }}</div>
                    {% endif %}
                  </label>
                </div>

                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label class="form-label col-md-12 col-sm-12"
                      >Primary Objective
                      <div class="mt-2">{{ form.primary_objective }}</div>
                      {% if form.primary_objective.errors %}
                      <div class="text-warning">
                        {{ form.primary_objective.errors }}
                      </div>
                      {% endif %}
                    </label>
                  </div>

                  <div class="col-sm-6 mb-3">
                    <label class="form-label col-md-12 col-sm-12">
                      Payment type
                      <div class="mt-2">{{ form.payment_type }}</div>
                      {% if form.payment_type.errors %}
                      <div class="text-warning">
                        {{ form.payment_type.errors }}
                      </div>
                      {% endif %}
                    </label>
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label col-md-12 col-sm-12">
                    Budget
                    <div class="mt-2">{{ form.budget }}</div>
                    {% if form.budget.errors %}
                    <div class="text-warning">{{ form.budget.errors }}</div>
                    {% endif %}
                  </label>
                </div>

                <div class="mb-3">
                  <label class="form-label col-md-12 col-sm-12">
                    Payment Delay (Days)
                    <div class="mt-2">{{ form.payment_delay_days }}</div>
                    {% if form.payment_delay_days.errors %}
                    <div class="text-warning">
                      {{ form.payment_delay_days.errors }}
                    </div>
                    {% endif %}
                  </label>
                </div>

                <div class="mb-3">
                  <label class="form-label col-md-12 col-sm-12">
                    Tentative Payout
                    <div class="mt-2">{{ form.tentative_payout }}</div>
                    {% if form.tentative_payout.errors %}
                    <div class="text-warning">
                      {{ form.tentative_payout.errors }}
                    </div>
                    {% endif %}
                  </label>
                </div>

                <div class="mb-3 mt-4 col-sm-12">
                  <input
                    class="btn btn-primary btn-block col-sm-12"
                    type="submit"
                    value="Create Campaign"
                  />
                  <!-- <label class="form-label">
            </label> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
