{% extends 'base.html' %}

{% load sass_tags %}

{% block title %}
    Create Campaign
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% sass_src 'campaign/css/create-campaign.scss' %}">
{% endblock %}

{% block content %}

    <a href="{% url 'campaigns' %}">Back to Campaign List</a>

    <form method="post">

        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Campaign Name:
                <input class="form-control" type="text" name="name" required/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Campaign Description:
                <input class="form-control" type="text" name="description" required/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Primary Objective
                <select name="primary_objective" id="primary_objective" required>
                    <option value="Reach">Reach</option>
                    <option value="Content Creation">Content Creation</option>
                    <option value="Engagement">Engagement</option>
                </select>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Brand
                <input type="text" name="brand" id="brand" required/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Payment type
                <select name="payment_type" id="payment_type" required>
                    <option value="Paid">Paid</option>
                    <option value="Barter">Barter</option>
                </select>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Budget
                <input type="number" name="budget" id="budget" required/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Payment Delay (Days)
                <input type="number" name="payment_delay_days" id="payment_delay_days" required/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Tentative Payout
                <input type="number" name="tentative_payout" id="tentative_payout" required/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label"> Submit
                <input type="submit" name="submit" id="submit" />
            </label>
        </div>

    </form>

{% endblock %}
