{% load static %}

{% include "navbar.html" %}

<link rel="stylesheet" href="{% static 'campaign/css/influencer_results.css' %}">
<body>

        <div id="main-container">

            <div id="filters-container">

                <div class="filter">
                    <h1>Filters</h1>
                    <p id="filters-clear-button">CLEAR ALL</p>
                </div>

                <div class="filter">
                    <p>Search By Keywords</p>
                    <label class="textbox-container">
                        <input type="text" id="search-by-keywords" placeholder="Enter niche, name, keywords...">
                        <p class="hint">Press enter to add</p>
                    </label>
                </div>

                <div class="filter">
                    <p>Genders</p>
                    <label class="checkbox-container">
                        <input type="checkbox" id="genders-male">
                        <p>Male</p>
                    </label>

                    <label class="checkbox-container">
                        <input type="checkbox" id="genders-female">
                        <p>Female</p>
                    </label>

                    <label class="checkbox-container">
                        <input type="checkbox" id="genders-others">
                        <p>Others</p>
                    </label>
                </div>

                <div class="filter">
                    <p>Influencer Type</p>
                    <label class="checkbox-container">
                        <input type="checkbox" id="influencer-type-celeb">
                        <p>Celeb</p>
                    </label>

                    <label class="checkbox-container">
                        <input type="checkbox" id="influencer-type-macro-influencer">
                        <p>Macro Influencer</p>
                    </label>

                    <label class="checkbox-container">
                        <input type="checkbox" id="influencer-type-micro-influencer">
                        <p>Micro Influencer</p>
                    </label>

                    <label class="checkbox-container">
                        <input type="checkbox" id="influencer-type-curation-page">
                        <p>Curation Page</p>
                    </label>

                    <label class="checkbox-container">
                        <input type="checkbox" id="influencer-type-spam">
                        <p>Spam</p>
                    </label>

                </div>

                <div class="filter">
                    <p>Engagement Rate</p>
                    <label class="from-to-select-container">
                        <select id="eng-rate-from">
                            <option value="min">Min</option>
                            <option value="1">1 %</option>
                            <option value="2">2 %</option>
                            <option value="3">3 %</option>
                            <option value="4">4 %</option>
                            <option value="5">5 %</option>
                            <option value="6">6 %</option>
                            <option value="7">7 %</option>
                            <option value="8">8 %</option>
                            <option value="9">9 %</option>
                            <option value="10">10 %</option>
                        </select>

                        <p>to</p>

                        <select id="eng-rate-to">
                            <option value="max">Max</option>
                            <option value="10">10 %</option>
                            <option value="9">9 %</option>
                            <option value="8">8 %</option>
                            <option value="7">7 %</option>
                            <option value="6">6 %</option>
                            <option value="5">5 %</option>
                            <option value="4">4 %</option>
                            <option value="3">3 %</option>
                            <option value="2">2 %</option>
                            <option value="1">1 %</option>
                        </select>
                    </label>
                </div>

                <div class="filter">
                    <p>Avg. Video Views</p>
                    <label class="from-to-select-container">
                        <select id="avg-views-from">
                            <option value="min">Min</option>
                            <option value="2000">2k</option>
                            <option value="5000">5k</option>
                            <option value="10000">10k</option>
                            <option value="50000">50k</option>
                            <option value="100000">100k</option>
                            <option value="500000">500k</option>
                            <option value="1000000">1M</option>
                        </select>

                        <p>to</p>

                        <select id="avg-views-to">
                            <option value="max">Max</option>
                            <option value="1000000">1M</option>
                            <option value="500000">500k</option>
                            <option value="100000">100k</option>
                            <option value="50000">50k</option>
                            <option value="10000">10k</option>
                            <option value="5000">5k</option>
                            <option value="2000">2k</option>
                        </select>

                    </label>
                </div>

                <div class="filter">
                    <p>Avg. Likes</p>
                    <label class="from-to-select-container">
                        <select id="avg-likes-from">
                            <option value="min">Min</option>
                            <option value="2000">2k</option>
                            <option value="5000">5k</option>
                            <option value="10000">10k</option>
                            <option value="50000">50k</option>
                            <option value="100000">100k</option>
                            <option value="500000">500k</option>
                            <option value="1000000">1M</option>
                        </select>

                        <p>to</p>

                        <select id="avg-likes-to">
                            <option value="max">Max</option>
                            <option value="1000000">1M</option>
                            <option value="500000">500k</option>
                            <option value="100000">100k</option>
                            <option value="50000">50k</option>
                            <option value="10000">10k</option>
                            <option value="5000">5k</option>
                            <option value="2000">2k</option>
                        </select>

                    </label>
                </div>

                <div class="filter">
                    <p>Follower Count</p>
                    <label class="from-to-select-container">
                        <select id="follower-count-from">
                            <option value="min">Min</option>
                            <option value="2000">2k</option>
                            <option value="5000">5k</option>
                            <option value="10000">10k</option>
                            <option value="50000">50k</option>
                            <option value="100000">100k</option>
                            <option value="500000">500k</option>
                            <option value="1000000">1M</option>
                        </select>

                        <p>to</p>

                        <select id="follower-count-to">
                            <option value="max">Max</option>
                            <option value="1000000">1M</option>
                            <option value="500000">500k</option>
                            <option value="100000">100k</option>
                            <option value="50000">50k</option>
                            <option value="10000">10k</option>
                            <option value="5000">5k</option>
                            <option value="2000">2k</option>
                        </select>

                    </label>
                </div>


            </div>
            <div id="results-container">

                <div class="result-item">

                    <div class="block">
                        <img src="https://cdn.vidooly.com/images/instagram/profiles/normal/2366942152.jpeg" alt="profile pic">
                    </div>

                    <div class="block">
                        <p class="name">Akshay Kakkar</p>
                        <p class="description">Macro Influencer</p>
                        <div class="tags">
                            <p class="tag">Entertainment</p>
                            <p class="tag">tag2</p>
                        </div>
                    </div>

                    <div class="block">
                        <div class="grid">
                            <div class="grid-column">
                                <p class="block-data-title">Followers</p>
                                <p class="block-data-value">100k</p>
                                <p class="block-data-title">Eng Rate</p>
                                <p class="block-data-value">10.35%</p>
                            </div>

                            <div class="grid-column">
                                <div class="circle" id="avg-likes">
                                    <img src="https://discovery.goodcreator.co/img/heart-white.9c6dfca5.svg" alt="heart">
                                    <p class="circle-data">10k</p>
                                </div>
                            </div>

                            <div class="grid-column">
                                <div class="circle" id="avg-comments">
                                    <img src="https://discovery.goodcreator.co/img/instagram-comment.5335c790.svg" alt="eye">
                                    <p class="circle-data">10k</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block"></div>
                </div>


                <div class="result-item">

                    <div class="block">
                        <img src="https://cdn.vidooly.com/images/instagram/profiles/normal/2859658504.jpeg" alt="profile pic">
                    </div>

                    <div class="block">
                        <p class="name">Gaurav S Mendatval</p>
                        <p class="description">Macro Influencer</p>
                        <div class="tags">
                            <p class="tag">Entertainment</p>
                            <p class="tag">tag2</p>
                        </div>
                    </div>

                    <div class="block">
                        <div class="grid">
                            <div class="grid-column">
                                <p class="block-data-title">Followers</p>
                                <p class="block-data-value">100k</p>
                                <p class="block-data-title">Eng Rate</p>
                                <p class="block-data-value">10.35%</p>
                            </div>

                            <div class="grid-column">
                                <div class="circle" id="avg-likes">
                                    <img src="https://discovery.goodcreator.co/img/heart-white.9c6dfca5.svg" alt="heart">
                                    <p class="circle-data">10k</p>
                                </div>
                            </div>

                            <div class="grid-column">
                                <div class="circle" id="avg-comments">
                                    <img src="https://discovery.goodcreator.co/img/instagram-comment.5335c790.svg" alt="eye">
                                    <p class="circle-data">10k</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block"></div>
                </div>

                <div class="result-item">

                    <div class="block">
                        <img src="https://cdn.vidooly.com/images/instagram/profiles/normal/4400988702.jpeg" alt="profile pic">
                    </div>

                    <div class="block">
                        <p class="name">Harshit Shrivastav</p>
                        <p class="description">Macro Influencer</p>
                        <div class="tags">
                            <p class="tag">Entertainment</p>
                            <p class="tag">tag2</p>
                        </div>
                    </div>

                    <div class="block">
                        <div class="grid">
                            <div class="grid-column">
                                <p class="block-data-title">Followers</p>
                                <p class="block-data-value">100k</p>
                                <p class="block-data-title">Eng Rate</p>
                                <p class="block-data-value">10.35%</p>
                            </div>

                            <div class="grid-column">
                                <div class="circle" id="avg-likes">
                                    <img src="https://discovery.goodcreator.co/img/heart-white.9c6dfca5.svg" alt="heart">
                                    <p class="circle-data">10k</p>
                                </div>
                            </div>

                            <div class="grid-column">
                                <div class="circle" id="avg-comments">
                                    <img src="https://discovery.goodcreator.co/img/instagram-comment.5335c790.svg" alt="eye">
                                    <p class="circle-data">10k</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block"></div>
                </div>

            </div>
        </div>

</body>
